<a href="https://colab.research.google.com/github/kimwonsoon/ai_moon/blob/main/2024%EB%85%84_%ED%96%89%EC%A0%95%EA%B5%AC%EC%97%AD%EB%B3%84_%EC%97%B0%EB%A0%B9_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EC%8B%A4%EC%8A%B5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
data=pd.read_csv('/content/202402_202402_주민등록인구기타현황(평균연령)_월간.csv',encoding='cp949')

In [6]:
print(data)

                     행정구역  2024년02월_남자 평균연령  2024년02월_여자 평균연령  2024년02월_평균연령
0        전국  (1000000000)              43.8              46.0           44.9
1     서울특별시  (1100000000)              43.7              45.3           44.5
2     부산광역시  (2600000000)              45.4              48.0           46.7
3     대구광역시  (2700000000)              44.0              46.8           45.5
4     인천광역시  (2800000000)              43.0              44.9           43.9
5     광주광역시  (2900000000)              42.0              44.4           43.2
6     대전광역시  (3000000000)              42.5              44.7           43.6
7     울산광역시  (3100000000)              42.8              44.8           43.8
8   세종특별자치시  (3600000000)              38.2              39.3           38.8
9       경기도  (4100000000)              42.2              44.0           43.1
10  강원특별자치도  (5100000000)              46.2              49.2           47.7
11     충청북도  (4300000000)              44.6              47.3           45.9
12     충청남도  (4400000000)              44.6              47.3           45.9
13  전북특별자치도  (5200000000)              46.0              49.1           47.5
14     전라남도  (4600000000)              46.9              50.4           48.6
15     경상북도  (4700000000)              46.5              50.0           48.2
16     경상남도  (4800000000)              44.6              47.6           46.1
17  제주특별자치도  (5000000000)              43.0              45.3           44.2

In [7]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(data['2024년02월_평균연령'])

0     44.9
1     44.5
2     46.7
3     45.5
4     43.9
5     43.2
6     43.6
7     43.8
8     38.8
9     43.1
10    47.7
11    45.9
12    45.9
13    47.5
14    48.6
15    48.2
16    46.1
17    44.2
Name: 2024년02월_평균연령, dtype: float64

In [11]:
print(data['2024년02월_평균연령'])

0     44.9
1     44.5
2     46.7
3     45.5
4     43.9
5     43.2
6     43.6
7     43.8
8     38.8
9     43.1
10    47.7
11    45.9
12    45.9
13    47.5
14    48.6
15    48.2
16    46.1
17    44.2
Name: 2024년02월_평균연령, dtype: float64

In [13]:
print(data.iloc[data['2024년02월_평균연령'].idxmax()])

행정구역                전라남도  (4600000000)
2024년02월_남자 평균연령                  46.9
2024년02월_여자 평균연령                  50.4
2024년02월_평균연령                     48.6
Name: 14, dtype: object

In [19]:
result=data['2024년02월_여자 평균연령']-data['2024년02월_남자 평균연령']

In [20]:
print(result)

0     2.2
1     1.6
2     2.6
3     2.8
4     1.9
5     2.4
6     2.2
7     2.0
8     1.1
9     1.8
10    3.0
11    2.7
12    2.7
13    3.1
14    3.5
15    3.5
16    3.0
17    2.3
dtype: float64

In [21]:
print(result.idxmax())

14

In [23]:
print(data.iloc[result.idxmax()])

행정구역                전라남도  (4600000000)
2024년02월_남자 평균연령                  46.9
2024년02월_여자 평균연령                  50.4
2024년02월_평균연령                     48.6
Name: 14, dtype: object
행정구역                전라남도  (4600000000)
2024년02월_남자 평균연령                  46.9
2024년02월_여자 평균연령                  50.4
2024년02월_평균연령                     48.6
Name: 14, dtype: object